* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-trocar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    min-height: 38rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 350px;
    padding: 1.8rem;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3.9rem;
    margin-top: 10px;
    margin-bottom: 35px;
}

.btn-entrar {
    display: flex;
    justify-content: center;
    background-color: #0095f6;
    width: 266px;
    color: #ffffff;
    padding: 20px 0;
    font-weight: 600;
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.logar-facebook {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #3A5796;
    padding: 8px;
    margin: 10px 0;
}

.logar-facebook p {
    font-weight: 500;
}

.logar-facebook i {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}

.not-account {
    color: #000;
}

.separacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 335px;
}

.separacao hr {
    width: 34%;
}

.separacao p {
    margin: 0 10px;
    color: #8E8E8E;
    font-weight: 500;
}

.link-blue {
    color: #0095f6;
}

.link-black {
    color: #000;
    font-size: 12px;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0;
}

.get-the-app p {
    margin-bottom: 10px;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

.label-float {
    position: relative;
    padding-top: 13px;
    width: 266px;
    height: 36px;
    margin-bottom: 5px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.label-float input {
    border: 0;
    outline: none;
    width: 90%;
    align-items: center;
    margin-left: 9px;
    font-size: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
}

.label-float label {
    pointer-events: none;
    font-size: 11px;
    position: absolute;
    color: rgb(133, 133, 133);
    top: 0;
    margin-left: 7px;
    left: 0;
    margin-top: 9px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 9px;
    margin-top: 2px;
    color: rgb(133, 133, 133);
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-trocar {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}